# Project exclude paths
/client/node_modules/
/node_modules/
/server/node_modules/
/.idea/
node_modules/
.parcel-cache/
dist/
/server/.env
/client/coverage/
/server/coverage/
/client/__selenium_tests__/
