/* Style for aboutUs.jsx */

.main-bg-pic {
    width: 100%;
    margin-bottom: 2.5vh;
}

.second-row-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.knowledge-text-box {
    position: relative;
    background-color: #FBE8DA;
    width: 500px;
    min-width: 400px;
    height: 430px;
    left: 100px;
    font-size: 18px;
    line-height: normal;
    margin: 30px 0 30px 5vw;
    padding: 25px;
    border-radius: 10px;
}

.knowledge-power, .power-text {
    text-align: left;
    margin: 25px;
}

.knowledge-power, .action-call {
    letter-spacing: 2px;
}

.our-mission {
    font-size: 14px;
    color: #35656F;
    text-align: center;
}

.action-call {
    text-align: center;
    margin-bottom: 5vh;
}

.art-box {
    position: absolute;
    margin-right: 15vw;
}


.first-layer-art {
    position: absolute;
    width: 966px;
    height: auto;
    left: 900px;
    top: -40px;
    min-width: 400px;
    min-height: 300px;
}

.top-layer-art {
    position: absolute;
    width: 966px;
    height: auto;
    left: 900px;
    top: -40px;
    min-width: 300px;
    min-height: 200px;
}

.mission {
    font-size: 20px;
}

.big-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 0 100px;
    gap: 100px;
    top: 0px;
}

.small-box {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    flex: 0 0 0 33.333333%;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.small-box:hover {
    transform: scale(1.2);
}

.light {
    background-color: #B5D9DB;
}

.dark {
    background-color: #A4CEC4;
}

.small-title {
    font-weight: bold;
    font-size: 18px;
}

.small-title:last-of-type {
    font-size: 24px;
}

.small-txt {
    font-size: 14px;
}

.small-txt, .small-title {
    text-align: center;
    margin: 10px;
}

.graphics {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(102, 102, 102, 0.15));
    filter: drop-shadow(5px 5px 5px rgba(102, 102, 102, 0.15));
}