/* style for charities.jsx */

.charity-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

.charity-card {
    max-width: 35vw;
    min-width: 450px;
    margin-top: 10vh;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    /*border: 2px solid #ACCCCE;*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.charity-background {
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

.charity-img {
    position: relative;
    top: 120px;
    height: auto;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.charity-card-content {
    margin-top: 65px;
    padding: 20px;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-button {
    background: #ACCCCE;
    border-radius: 10px;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 25px;
    padding: 17px 32px;
    width: 170px;
}


.search-charities {
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
    position: relative;
    display: flex;
    box-shadow: -15px 15px 17px -10px rgba(0,10,10,0);
}
.search-input-charities{
    width: 100%;
    padding: 9px;
    border-radius:10px 10px 1px 10px;

    outline: none;
    font-size: 20px;
    background: none;
}
.charity-results {
    position: absolute;
    padding-top: 63px ;
    padding-left: 23px;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.container-charities{
    width: 35%;
    left: 40%;
    top: 40%;
}

/* ? */
.pic-container {
    position: relative;
    z-index: -1;
}