/* style for donate.jsx */

.donate-page-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.donate-page {
    margin-top: 10vh;
    width: 50%;
    min-width: 700px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.donate-page-top img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 30vh;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.donate-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  40px 2.5vw ;
}

.donate-logo {
    border-radius: 50%;
    position: absolute;
    top: 300px;
    width: 215px;
    height: 215px;
    object-fit: cover;
}

.donate-page h2 {
    margin-top: 50px;
    margin-bottom: 0;
}

.donate-form-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.donate-form-amount input {
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
}

.donate-form-amount button {
    background-color: #C0CFC8;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 60px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.information-icon {
    position: relative;
    margin-left: 5px;
    width: 18px;
    height: 18px;
    border: #c0cfc8 solid 1px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    cursor: help;
}

.information-box {
    display: none;
    position: absolute;
    background-color: white;
    width: 400px;
    padding: 5px;
    margin-top: 5px;
    border: #c0cfc8 solid 1px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}

.information-icon:hover .information-box {
    display: block;
}

.donate-text-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.donate-form-frequency {
    width: 270px;
    margin-bottom: 2.5vh;
}

.donate-form-frequency > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.donate-form-frequency input {
    width: fit-content;
    margin-right: 10px;
}

.donate-form-frequency label {
    display: flex;
    align-items: center;
}

.donate-text-button {
    border-top: #CCCCCC solid 1px;
    padding-top: 2.5vh;
    width: 80%;
    text-align: center;
}

.donate-page-button {
    background-color: #8AB7BA;
    border-radius: 20px;
    border: none;
    margin-bottom: 2.5vh;
    padding: 20px;
    width: 400px;
    font-size: 22px;
    cursor: pointer;
}
