.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;

}


.login-form {
    width: 100%;
    max-width: 500px;
    min-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #808080;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.google-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 110px;
    left: 50px;
}


.message-icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 50px;
    left: -80px;
}

.lock-icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 50px;
    left: -50px;
}

.invisible-icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 50px;
    left: 300px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #808080;
    border-radius: 4px;

}


.google-login-btn, .sign-in-btn {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #808080;
    border-radius: 4px;
}

.sign-in-btn {
    background-color: #8AB7BA;
}



.line {
    text-align: center;
}

.login-txt, .container {
    color: #555555;
}

.login-txt {
    text-align: center;
}

/* Checkbox */

.checkbox {
    width: 20px;
    height: 20px;
    margin: 8px;
}

/* Sidebar */


.sidebar {
    background-color: #FBEADA;
    box-sizing: border-box;
    margin: 8px 0;
    border: 2px solid #808080;
    border-radius: 4px;
    position: relative;
    max-width: 500px;
    min-width: 500px;
}

.signup-sidebar {
    background-color: #95BDC4;
}

.first-layer-login {
    position: relative;
    top: 0px;
    right: 50px;
    width: 600px;
    height: 500px;
}

.second-layer-login {
    position: absolute;
    top: 180px;
    left: 270px;
    width: 200px;
    height: 200px;
}

.third-layer-login {
    position: absolute;
    top: 160px;
    left: 0px;
    width: 550px;
    height: 350px;
}

