
.signup-sidebar {
    background-color: #95BDC4;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #808080;
    border-radius: 4px;
    position: relative;
    width: 100%;
    max-width: 500px;
    min-width: 500px;
}