@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: auto;
}

header > * {
    padding-inline: 0.5em;
}


.front-bg {
    width: 100%;
}

.pic-text {
    color: #FFFFFF;
    position: absolute;
    top: 40%;
    left: 35%;
    font-family: "Mukta Mahee";
    font-size: 64px;
}

.join-us-btn {
    position: absolute;
    top: 70%;
    left: 40%;
    padding: 15px 30px;
    background: #8AB7BA;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    width: 20%;
}


.about-us-div {
    text-align: center;
    background-color: #95BDC4;
    font-size: 20px;
    padding-inline: 0.5em;
    line-height: 25px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 80px;
    border-radius: 5px;
    font-size: 18px;
}

.about-us-btn {
    padding: 17px 32px;
    background: #d5e5e6;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    margin: 10px;
}

.category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    text-align: center;
    margin: 80px;
}

.newsfeed-parent {
    text-align: center;
    background-color: #95BDC4;
    font-size: 20px;
    padding-inline: 0.5em;
    line-height: 25px;
    padding: 12px 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    margin: 80px;
}

.newsfeed-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    text-align: center;
    margin: 80px;
    font-size: 14px;
    box-sizing: border-box;
}

.newsfeed-item {
    border: 2px solid white;
    box-sizing: content-box;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

.read-more-btn {
    bottom: 0;
    right: 0;
}


.cat-pic {
    width: 80%;
}

.newsfeed-pic {
    width: 100%;
}

footer {
    margin-top: 10vh;
    background-color: #8AB7BA;
    height: 30vh;
    padding: 2vh 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 7vh 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.footerLinks {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.footerLinks p {
    margin: 0;
}

.footerLink {
    text-decoration: none;
    color: black;
}

.footerSubscribe {
    grid-area: 2 / 3 / 3 / 4;
    align-self: center;
}

.footerSubscribe p {
    font-size: 12px;
}

.footerSubscribe > form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
    border-radius: 5px;
}

.footerSubscribe input {
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    padding: 0 2vw;
}

.footerSubscribe button {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 2.5vw ;
    font-weight: bold;
    font-size: 16px;
}

.footerSubscribe button:hover {
    cursor: pointer;
}

.footerSocial {
    grid-area: 1 / 2 / 3 / 1;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
}

.footerSocial a {
    text-decoration: none;
    font-size: 18px;
}

.footerSocial img {
    height: 60px;
    position: relative;
    padding: 5px;
}

.footerCopyright {
    grid-area: 3 / 2 / 3 / 1;
    font-size: 12px;
}



